@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <style type="text/css">
        body 
        {
            padding-top: 80px;
        }
        .btn-block
        {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .well-lg
        {
            padding-bottom: 50px;
        }
    </style>
    @RenderSection("style", required: false)
}

<div class="row">
    <div class="col-lg-12">
        <div class="thumbnail center well well-lg">
            @RenderBody()
        </div>
    </div>
</div>

@section scripts {
    @RenderSection("scripts", required: false)
}
