@{
    ViewBag.Title = "Buy Pets";
    Layout = "~/Views/Shared/_LayoutSearching.cshtml";
}


@model PSP_EF.Models.Pet

@{
    var prod = ViewData["petForSale"];
}

<legend><h1>Buy a Pet</h1></legend>
<p>Search a pet to buy.</p>
<form role="form" action="@Url.Action("SearchResult", "PetBuyingSelling")" method="post" onsubmit="return validateNumberRange()">
    <div class="row">
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 input-group">
                <div class="input-group-btn">
                    @Html.DropDownListFor(model => model.PetCategory, new SelectList(new List<Object>{
                        new {value = "Cat", text = "Cat"},
                        new {value = "Dog", text = "Dog"},
                        new {value = "Rabbit", text = "Rabbit"},
                        new {value = "Other", text = "Other"}
                    }, "value", "text", "Cat"), new { @class = "form-control required", @style = " width:150px" })
                </div>
                @Html.TextBox("fromPrice", null, new { @class = "form-control required", @placeholder="Price from ..."})
                <span class="input-group-addon">to</span>
                @Html.TextBox("toPrice", null, new { @class = "form-control", @placeholder = "..." })
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;Search</button>
                </div>     
            </div>
        </div>
    </div>
</form>

